body{
    background-color: black !important;
    color: white;  
    font-family: Work Sans, sans-serif,;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(100, 100, 100, 0.466); 
    border-radius: 20px;
}

.tittle {
    display: flex;
    flex-direction: column;}

ul {
    position: absolute; 
    left: 25rem;
}

li{
    display: inline-block;
    margin: 10px;
}

main {display: flex; flex-direction: row; margin-top: 50px;}

.text {margin-top: 110px; margin-left: 20px;}

img{
    position: absolute;
    right: 0px;
}

div {
    height: 50px;
    background-color: (32, 31, 31);
    border-radius: 10px;
    margin: 25px;
}

button {
    color: white;
    background-color: red;
    height: 50px;
    border-radius: 8px;
    width: 130px;
}

.botaobaixo:hover {
    background-color: rgb(92, 0, 179); 
    transition: 0.5s all;}

.butao {
    background-color: rgb(243, 53, 53); 
    color: white; 
    height: 40px; 
    width: 115px; 
    border-radius: 11px; 
    font-size: 16px; 
    font-weight: 550;
    border-color: transparent; 
    margin-right: 35px; 
    margin-top: 3px;}

.butao:hover {
    background-color: rgb(106, 0, 206); 
    transition: 0.5s all;}

.botaobaixo {
    background-color: rgb(243, 53, 53); 
    color: white; 
    height: 50px; 
    width: 150px; 
    border-radius: 8px; 
    font-size: 16px; font-weight: 550;
    border-color: transparent;}

a {color: white}

a:hover {color: rgb(102, 2, 196); transition: 0.3s all;}